{
  "instances":{
    "lowesqa":{
      "sugar_version":"7822",
      "sugar_flavor": "ent",
      "branch":"lowes",
      "backup_dir": "",
      "dbconfig":{
        "db_host_name": "",
        "db_user_name": "",
        "db_password": "",
        "db_name": ""
      },
      "Elastic":{
        "host": ""
      },
      "db_scripts":[
        "UPDATE users SET deleted = 1 WHERE deleted = 0 AND is_admin = 0;"
      ]
    }
  },
  "vagrant":{
    "dir_base":""
  },
  "github":{
    "user": "",
    "local":{
      "dir":"",
      "remote": ""
    }
  }
}
